/* DOCUMENT INFORMATION
    - Document: Alexis Choloux Portfolio
    - Version 1.0.0
    - Auteur: Alexis Choloux
*/

/* FONTS
    h1 - Righteous
    h2 - MuseoModerno
    h3 - Varta
*/

/* COLORS
    h1 - Black or wight
*/

/* CSS DIRECTORY
    1. NAVBAR
    2. HOME
    - text transformation
    3. PORTFOLIO
    - title
    - content
    4. PRESENTATION
    5. CONTACT
    6. FOOTER
    7. MEDIA QUERIES
*/

/* GENERAL
========================= */
html {
    position: relative;
    scroll-behavior: smooth;
}

body h2 {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 8vh;
    margin-top: 1vh;
    margin-bottom: 6vh;
}

body h3 {
    font-family: 'Varta', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #e7c997;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

body section {
    border-bottom: solid #e7c997 1px;
}


/* NAVBAR 
===============================*/
#logo {
    font-family: 'Righteous', sans-serif;
    color: #e7c997;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#navbarNav ul li a {
    color: #e7c997;
    
}

nav div ul li {
    font-size: 25px;
    margin-right: 13vh;
}

header {
    background-image: url(../images/Background\ Image\ Home.jpeg);
    height: 100vh;
    background-size: cover;
}

.nav-link {
    transition: 1s;
}
.nav-link:hover {
    scale: 1.5;
}


/* HOME
========================= */
#home {
    text-align: right;
}

#home p {
    font-size: 10vh;
    padding-bottom: 65px;
}

#home p span {
    margin-right: 2vh;
}

#pratique {
    font-family: 'Righteous', sans-serif;
    margin-top: 170px;
    margin-right: 2vh;
}

#atypique {
    font-family: 'Sansita Swashed';
    margin-right: 2vh;
}

#magnifique {
    font-family: 'MuseoModerno';
    margin-right: 2vh;
}

/* text transformation */
#pratique:hover span {
    display: none;
}
#pratique:hover:before {
    content: "Web Developer";
    color: rgba(0, 0, 0, 0.411);
}

#atypique:hover span {
    display: none;
}
#atypique:hover:before {
    content: "Front-end";
    color: rgba(0, 0, 0, 0.411);
}

#magnifique:hover span {
    display: none;
}
#magnifique:hover:before {
    content: "Back-end";
    color: rgba(0, 0, 0, 0.411);
}

/* logo transformation */
#textLogo i {
    margin-left: 1vh;
}

#pratique:hover i {
    transform: translateY(-8vh);
    transition: 2s;
    margin-left: 10vh;
}
#atypique:hover i {
    transform: translateY(-8vh);
    transition: 2s;
    margin-left: 10vh;
}
#magnifique:hover i {
    transform: translateY(-8vh);
    transition: 2s;
    margin-left: 10vh;
}

#Logo {
    text-align: center;
    margin-top: -100px;
}

#scrollLogo {
    color: rgba(165, 42, 42, 0.705);
}



/* SEASON ANIMATION
================================ */
#seasonAnimation1 {
    position: fixed;
    z-index: 1000;
    margin-top: -20vh;
    margin-left: -200px;
    animation-name: animation1;
    animation-duration: 8s;
    animation-delay: 1s;
}

#seasonAnimation2 {
    position: fixed;
    z-index: 1000;
    margin-top: -20vh;
    margin-left: -200px;
    animation-name: animation2;
    animation-duration: 8s;
    animation-delay: 1s;
 }

#seasonAnimation3 {
    position: fixed;
    z-index: 1000;
    background-color: rgb(204, 88, 60);
    color: white;
    border-radius: 15px;
    width: 400px;
    font-size: 3vh;
    font-weight: bold;
    margin-left: -500px;
    margin-top: -25vh;
    animation-name: animation3;
    animation-duration: 8s;
    animation-delay: 1s;
}
@keyframes animation1 {
    0% {left: 0}
    10% {left: 220px}
    90% {left: 220px}
    100% {left: 0}
  }

  @keyframes animation2 {
    0% {left: 0}
    10% {left: 0}
    20% {left: 400px}
    90% {left: 400px}
    100% {left: 0}
  }

  @keyframes animation3 {
    0% {left: 0}
    20% {left: 0}
    30% {left: 500px}
    90% {left: 500px}
    100% {left: 0}
  }


/* PORTFOLIO
========================= */
/* title */
#portfolio {
    margin-top: 1vh;
}

#portfolioSpinner {
    padding-right: 0px;
}

#portfolioSpinner div {
    margin-right: 1vh;
}

#portfolioTitle {
    padding-left: 0px;
    margin-top: 2vh;
}

/* content */
.portfolioImg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 3vh;
}

.imgTitle {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.portfolioImg:hover {
    scale: 1.1;
    transition: 1s;
}

#portfolioBtn {
    text-align: center;
    margin-bottom: 5vh;
}


/* PRESENTATION
========================== */
.presentationTitle {
    font-size: 3vh;
    text-align: center;
    width: 40%;
}

.presentationContent {
    margin-bottom: 10vh;
}

#picture {
    text-align: center;
}

#picture img {
    height: 200px;
    border-radius: 50%;
}

#hand {
    position: relative;
    animation-name: hand1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes hand1 {
    0% {top: 0}
    50% {top: 1.4vh}
    100% {top: 0}
}

#backgroundContent {
    box-sizing: border-box;
    width: 75%;
}

#backgroundContentRight {
    overflow-y: scroll;
    position: relative;
    height: 41vh;
    border: solid #e7c997 1px;
}

#backgroundContentRight h4 {
    font-weight: bold;
    color: #e7c997;
}


/* CONTACT
========================== */
.contactTitle {
    font-size: 3vh;
    width: 60%;
}

#socialLogo a {
    margin-left: 3vh;
    margin-right: 3vh;
}

.fa-linkedin {
    transition: 2s;
}
.fa-linkedin:hover {
    scale: 1.5;
}

.fa-instagram {
    transition: 2s;
}
.fa-instagram:hover {
    scale: 1.5;
    color: #cb007e;
}


/* FOOTER
========================== */
footer {
    width: 100%;
    height: 30vh;
    background-image: url(../images/Background\ Image\ Home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer h1 {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 10vh;
}

/* MEDIA QUERIES
============================ */
@media screen and (max-width: 768px) {
    #home p {
        display: none;
    }

    #Logo {
        margin-top: 40vh;
    }

    #portfolioSpinner {
        margin-top: 5vh;
    }

    #portfolioTitle {
        margin-top: -8vh;
    }

    #presentationTitle {
        font-size: 6.5vh;
    }

    .presentationTitle {
        width: 90%;
    }

    .backgroundContent {
        width: 100%;
    }

    #contactTitle {
        margin-top: 5vh;
    }

    
}